.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url('../img/bg/bg_header.jpg') center (center/cover) no-repeat;
    &__wrapper {
        margin-top: 91px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__header {
        color: #ffffff;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 42px;
        margin-bottom: 0;
    }
    &__subheader {
        margin-top: 17px;
        margin-bottom: 0;
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 24px;
    }
    &__icons {
        margin-top: 66px;
        margin-bottom: 67px;
        display: flex;
        justify-content: space-between;
        width: 425px;
    }
    &__icon {
        width: 108px;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        margin-top: 35px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        a {
            text-decoration: underline;
            color: #ffffff;
        }
    }
}